$zeldafont: 'Press Start 2P', cursive;
// $bodyfont: 'Open Sans', sans-serif; 
$textfont: 'Roboto', sans-serif;
$basicBorder: 2px solid black;


// COLOR SCHEME
// $yellow: hsla(60, 100%, 44%, 1);
// $red: hsla(0, 100%, 38%, 1);
// $blue: hsla(250, 85%, 45%, 1);
